---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "helm_chart.fullname" . }}
spec:
  refreshInterval: 15s
  secretStoreRef:
    name: rcsb-vault
    kind: ClusterSecretStore
  target:
    # note this was before rcsb-idmapper-env-vars
    name: {{ include "helm_chart.fullname" . }}-secret
  data:
    - secretKey: mongodb_pwd
      remoteRef:
        key: mongo_databases/admin_accounts
        property: {{ .Values.idMapperAppProperties.mongoDwUser }}
